/* remove properties from links*/

a:link {
    text-decoration: none;
    color: #f6a4ce;
}

a:visited {
    text-decoration: none;
    color: #f6a4ce;
}

a:hover {
    text-decoration: none;
    color: #f6a4ce;
}

a:active {
    text-decoration: none;
    color: #f6a4ce;
}

button {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 342;
    color: gray;
    background-image: url('../img/background.jpg');
    display: flex;
    flex-direction: column;
}

/* flex properites*/



h2 {
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
    background-color: #f6a4ce;
    transition: 0.4s;
    padding: 0.3rem;
    margin: 0.2rem;

}


h2:hover {
    font-size: 2.3rem;

}

h3 {
    color: #f5be35;
    font-family: 'Satisfy', sans-serif;
    font-size: 2rem;
    margin: 0.5rem;
}

.setright {
    text-align: right;
}



.highlight {
    color: #f6a4ce;
    font-weight: bold;
    font-size: 1.1rem;
    transition: 0.4s;
}


section {
    margin: 0.3rem;
    padding: 0.2rem;
}

/*formatage intro*/

.introduction {
    margin: 0.5rem;
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    font-size: 1.3rem;

}

.introduction p {
    text-align: center;
}

.bighighlight {
    font-family: 'Satisfy', sans-serif;
    color: #f6a4ce;
    font-weight: 616;
    font-size: 3rem;
    margin: 20px;
}

a {
    color: #f6a4ce;
}

/* formatage evenement*/

.evenement {
    text-align: center;
}

.img {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.img img {
    box-sizing: border-box;
    width: 25%;
    padding: 10px;
    max-width: 100%;
    max-height: 30rem;
}



/* formatage presentation*/
.presentation {
    display: flex;
    background-color: rgb(255, 255, 255, 0.5);
    margin: 0.5rem;
    font-size: 1rem;
}

.presentation img {
    height: 250px;
    width: 250px;
    max-height: 500px;
    max-width: 500px;
    padding: 3%;
}

.preztexte {
    padding: 0.8rem;
}

.prezimage {
    padding: 0.2rem;
}



/* formatage formulaire d'inscription*/
form {
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}

form p {
    margin: 0.3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

form #buttonyes {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #f6a4ce;
    border-color: #f6a4ce;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 10px;
    transition: 0.4s;
}

form #buttonyes:hover {
    color: white;
    background-color: #f6a4ce;
    border-color: white;
}

form #buttonyes:active {
    color: white;
    background-color: #af005b;
    border-color: white;
}

form #buttonno {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #7a6c6f;
    border-color: #7a6c6f;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 10px;
    transition: 0.4s;
}

form ::placeholder {
    font-family: 'Montserrat', sans-serif;
}

/* formatage infos pratiques*/

.infospratiques {
    background-color: rgb(255, 255, 255, 0.5);
    font-size: 1rem;
}

#adressedelaparty {
    color: #f5be35;
    font-size: 2.1rem;
    text-align: center;
    font-family: 'Satisfy', sans-serif;
}

/*formatage nav bar*/

nav {
    background-color: #f6a4ce;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40px;
    max-height: 40px;
    align-items: center;

}

nav a {
    color: white;
    transition: 0.5s;
}

nav a:link {
    color: white;
}

nav a:visited {
    color: white;
}

nav a:hover {
    font-weight: 800;

}


/*footer fixation*/

footer {
    position: fixed;
    bottom: 0px;
    right: 1px;
    font-size: 0.9rem;
}



footer a {
    box-shadow: inset 0 0 0 0 #f6a4ce;
    color: #f6a4ce;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

footer a:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #f6a4ce;
}

/* Make screen responsive*/

@media screen and (max-width:555px) {
    nav {
        display: inline;
    }

    body {
        font-weight: 600;
    }

}